<div class="sidebarAds">
    <h3 class="sidebar"></h3>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:250px;height:250px"
         data-ad-client="ca-pub-4148052157447676"
         data-ad-slot="8650420618"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</br> </br>

<a class="twitter-timeline" data-width="270" data-theme="light" data-tweet-limit="2" href="https://twitter.com/0daylabs?ref_src=twsrc%5Etfw">Tweets by 0daylabs</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div style="clear:both;"/>
